PORT=8081
SOMA_CONNECT_IP=http://192.168.7.30:3000
SUNSA_BASE_URL=https://sunsahomes.com/api/public
SUNSA_API_KEY=replace-me
SUNSA_ID_USER=replace-me
RETRIES=2
MQTT_BROKER_URL=mqtt://192.168.7.50:1883
MQTT_USERNAME=replace-me
MQTT_PASSWORD=replace-me
